.venv/                                                                                                 
.env            
target/
dbt_packages/                                                                                          
logs/
*.log
src/tokens.json 